cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
google-api-core==2.11.0
google-api-python-client==2.78.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
pafy==0.5.5
prompt-toolkit==1.0.14
protobuf==4.22.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyfiglet==0.8.post1
Pygments==2.14.0
PyInquirer==1.0.3
pyparsing==3.0.9
python-dotenv==0.21.1
python-vlc==3.0.18121
regex==2022.10.31
requests==2.28.2
rsa==4.9
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.14
wcwidth==0.2.6
youtube-dl==2021.12.17
